/* TEMPLATE STYLES */


/* Necessary for full page carousel*/

html,
body,
.view {
    height: 100%;
}


/* Navigation*/

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #820024;
}

footer.page-footer {
    background-color: #820024;
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #820024;
    }
}


/* Carousel*/

.carousel,
.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item:nth-child(1) {
    background-image: url("http://i.imgur.com/NDax9KS.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(2) {
    background-image: url("http://i.imgur.com/L6uWMZZ.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(3) {
    background-image: url("http://i.imgur.com/3BGSzmJ.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/*Caption*/

.flex-center {
    color: #fff;
}

@media (min-width: 776px) {
    .carousel .view ul li {
        display: inline;
    }
    .carousel .view .full-bg-img ul li .flex-item {
        margin-bottom: 1.5rem;
    }
}
